<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit a listing</h3>
      <form
        action="/listings/<%= data._id %>?_method=PUT"
        method="POST"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3 mt-4">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            value="<%= data.title %>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks good!</div>
          <div class="invalid-feedback">Enter valid Title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required><%= data.description %></textarea>
          <div class="valid-feedback">Description Looks good!</div>
          <div class="invalid-feedback">Enter valid Description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            type="text"
            name="listing[image]"
            value="<%= data.image %>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Image url Looks good!</div>
          <div class="invalid-feedback">Enter valid Image url</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              value="<%= data.price %>"
              class="form-control"
              required
            />
            <div class="valid-feedback">Price Looks good!</div>
            <div class="invalid-feedback">Enter valid Price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%= data.country %>"
              class="form-control"
              required
            />
            <div class="valid-feedback">Country Looks good!</div>
            <div class="invalid-feedback">Enter valid Country</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%= data.location %>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Location Looks good!</div>
          <div class="invalid-feedback">Enter valid Location</div>
        </div>

        <button type="submit" class="btn btn-dark mb-3 add-btn">Submit</button>
      </form>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
